{{ define "main" -}}
<div class="posts">
{{ range where .Site.RegularPages "Type" "in" "episode" -}}
<article class="post">
  <h1 class="post-title">
    <a href="{{ .Permalink }}">{{ .Title }}</a>
  </h1>
  <p class="post-date">
      <span>
        <time datetime="{{ .Date.Format "2006-01-02T15:04:05Z0700" }}">
            {{ .Date.Format "Mon, Jan 2, 2006" }} 
        </time>
      </span>
      {{ with .Params.podcast_duration }}
        <span> | {{ . }}</span>
      {{ end}}

  </p>

  {{ .Description }}

</article>
{{- end }}
</div>
{{- end }}
